<h1><%= @article.title %></h1>

<%= link_to edit_article_path do %>
  <i class="fas fa-pencil-alt fa-lg"></i>
<% end %>

<%= link_to article_path, method: :delete do %>
  <i class="fas fa-trash-alt fa-lg"></i>
<% end %>

<hr>

<p><%= @article.content %></p>

<%= link_to "Back to all Articles", articles_path %>
